/* @override 
	file:///Users/scum/Sites/github/gitstats/output/gitstats.css */


body { padding-top: 70px; }

.navbar-header{
	background: url(../gitstats-logo.png) no-repeat;
	width: 120px;
	height: 31px;
	margin-top: 10px;
}

.table.tight-table th,
.table.tight-table td{
	padding: 4px 2px;
	width: 10px;
	font-size: .8em;
}
.table.tight-table td{
	text-align:center;	
}

.table.square-table th,
.table.square-table td{
	padding: 4px;
	width: 20px;
	font-size: .8em;
}

.table.square-table td{
	text-align:center;
	color: white;
}

#authors, #aom, #aoy{
	font-size: .9em; 
}
#authors th, #aom th, #aoy th,
#authors td, #aom td, #aoy td{
	padding:2px 1px;
}
